[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
gunicorn = "*"
werkzeug = "*"
sqlalchemy-serializer = "*"
psycopg = {extras = ["binary"], version = "*"}
openai = "*"
python-dotenv = "*"
annotated-types = "*"

[dev-packages]

[requires]
python_version = "3.11"
